@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --purple-accent: #a841ec4f;
  --teal-accent: #34cfcf;
  --lighter-purple-accent: #8531bdfa;
  --muted-purple: #8531bd8f;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.page-header {
  background: url(alfons-morales-YLSwjSy7stw-unsplash.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.dark-overlay {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  z-index: 0;
}

/* .displayTitle {
  color: white;
  font-size: 30px;
  width: 100vw;
  display: block;
  margin: 0 auto;
  z-index: 30;
  grid-row: 8 / span 8;
  grid-column: 8 / span 16;
} */

.displayTitle {
  /* margin: auto; */
  position: absolute;
  color: white;
  font-size: 50px;
  top: 265px;
}

#btn-container {
  width: 100vw;
  z-index: 500;
  text-align: center;
  width: 100vw;
  position: relative;
  top: 315px;
}

#main-container {
  display: flex;
  width: 100vw;
  position: absolute;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.toggler {
  width: 100px;
  border-radius: 20px;
  margin-right: 12px;
  margin-bottom: 29px;

  float: left;
  height: 50px;
  padding: 5px;
  transition: 0.2s all;
  background-color: transparent;
  color: var(--teal-accent);
  border: 2px solid var(--teal-accent);
}
.toggler:hover {
  transform: scale(0.95);
  cursor: pointer;
  background: var(--teal-accent);
  color: black;
}

.completed {
  position: relative;
  bottom: 110px;
  display: inline;
  border-radius: 20px;
}

.scrap {
  float: left;
  margin-top: 5px;
  display: inline-block;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin-right: 10px;
  transition: 0.2s all;
  z-index: 50;
  background-color: transparent;
  color: var(--teal-accent);
  border: 2px solid var(--teal-accent);
}
.scrap:hover {
  transform: scale(0.95);
  cursor: pointer;
  background: var(--teal-accent);
  color: black;
}

.biggerScrap {
  position: sticky;
  margin-right: 20px;
  display: inline-block;
  width: 100%;
  height: 30px;
  border-radius: 2px;
  transition: 0.2s all;
  z-index: 50;
  background-color: transparent;
  color: var(--teal-accent);
  border: 2px solid var(--teal-accent);
}
.biggerScrap:hover {
  transform: scale(0.95);
  cursor: pointer;
  background: var(--teal-accent);
  color: black;
}

/* .book {
  color: white;
  z-index: 30;
  height: 40px;
  grid-row: 5;
  grid-column: 10;
  margin-left: 19px;
  font-size: 90px;
}
 */
.addbtn {
  grid-row: 9;
  grid-column: 10 / span 13;
  margin-top: 30px;
  width: 130px;
  height: 40px;
  z-index: 50;
  border-radius: 10px;
  background-color: transparent;
  color: var(--teal-accent);
  border: 2px solid var(--teal-accent);
  transition: 0.2s all;
  cursor: pointer;
}
.addbtn:hover {
  background: var(--teal-accent);
  cursor: pointer;
  color: black;
  transform: scale(0.98);
}

.library-title {
  font-size: 43px;
  position: absolute;
  color: black;
  background-color: white;
  width: 240px;
  border-radius: 10px;
  border-right: 1px solid #000;
  z-index: 30;
  /* grid-row: 2; */
  /* grid-column: 2 / span 9; */
  padding: 10px;
}

.afterfunctionbox {
  margin-top: 30px;
  width: 800px;
  height: 700px;
  grid-row: 1 / span 15;
  z-index: 6;
  position: absolute;
  right: 10px;
  top: 23px;
  background-color: var(--purple-accent);
  border: 3px var(--teal-accent) solid;
  border-radius: 40px;
  grid-column: 7 / span 20;
  display: none;
  flex-wrap: wrap;
}

.bookcard {
  width: 30%;
  height: 25%;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.575);
  border: 2px solid black;
  color: white;
  padding: 5px;
  display: none;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  fill: black;
}

.totalbooks {
  grid-row: 12;
  color: white;
  z-index: 30;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--muted-purple);
  grid-column: 3;
  display: none;
}

.totalBox {
  grid-row: 13;
  height: 45px;
  width: 40px;
  border-radius: 10px;
  background-color: white;
  z-index: 50;
  grid-column: 3;
  font-size: 26px;
  text-align: center;
  margin-left: 40px;
  background-color: var(--muted-purple);
  color: white;
  display: none;
}

.readbooks {
  grid-row: 15;
  color: white;
  z-index: 30;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--muted-purple);
  grid-column: 3;
  display: none;
}

.totalreadbox {
  grid-row: 16;
  height: 45px;
  width: 40px;
  border-radius: 10px;
  background-color: white;
  z-index: 50;
  grid-column: 3;
  font-size: 26px;
  text-align: center;
  margin-left: 40px;
  background-color: var(--muted-purple);
  color: white;
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.title {
  color: white;
  font-size: 18px;
}

.modal-content {
  background-color: var(--lighter-purple-accent);
  color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  z-index: 60;
  border-radius: 40px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 60;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  z-index: 60;
}

#title {
  margin-left: 20px;
}

#pages {
  margin-left: 6px;
}

.titleOne {
  color: red;
}

.clearLS {
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 50;
  position: absolute;
  bottom: 4px;
  left: 6px;
  background: transparent;
  color: var(--teal-accent);
  border: 2px solid var(--teal-accent);
  font-size: 20px;
  grid-row: 2;
}
.clearLS:hover {
  background: var(--teal-accent);
  cursor: pointer;
  color: black;
  transform: scale(0.98);
}

.lsItem {
  background: transparent;
  color: var(--teal-accent);
  border: 2px solid var(--teal-accent);
  position: relative;
  top: 60px;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
}

.book {
  /* margin: auto; */
  position: absolute;
  color: white;
  font-size: 80px;
  top: 165px;
}

.clearDiv {
  grid-column: 2;
  text-align: center;
  opacity: 0.9;
}

.error {
  color: red;
}

@media only screen and (max-width: 990px) {
  .page-header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .library-title {
    top: -13px;
    /* grid-row: 1; */
    /* grid-column: 1 / span 3; */
    width: 100vw;
    height: 100px;
    position: absolute;
    font-size: 38px;
    /* margin-top: 20px; */
    background: transparent;
    color: white;
    text-align: center;
  }

  .book {
    /* grid-row: 2; */
    /* width: 100vw; */
    margin-left: 0px;
    /* position: relative; */
    top: -105px;
    z-index: 1;
    text-align: center;
    margin: auto;
    position: absolute;
    color: white;
    font-size: 80px;
    top: 160px;
  }

  .addbtn {
    /* grid-row: 3; */
    /* grid-column: 2 / span 3; */
    width: 100vw;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: -42px;
  }

  .displayTitle {
    width: 100vw;
    text-align: center;
    position: relative;
    bottom: 35px;
    grid-row: 3;
    top: unset;
  }

  .modal-content {
    font-size: 12px;
    width: 80vw;
    grid-column: 1;
    z-index: 75;
  }
  .bookform {
    z-index: 75;
  }

  .afterfunctionbox {
    width: 100vw;
    grid-row: 2;
    right: unset;
    grid-column: 3;
    height: 60vh;
    background-color: #53b0b0;
  }

  .toggler {
    height: 4vh;
  }

  #btn-container {
    width: 100vw;
    z-index: 500;
    text-align: center;
    width: 100vw;
    bottom: 0;
    left: -42px;
    /* height: 40px; */
    position: absolute;
    bottom: 10px;
    top: unset;
  }

  .bookcard {
    font-size: 12px;
    width: 40vw;
    height: 20vh;
  }

  .clearDiv {
    grid-column: 3;
  }

  .clearLS {
    display: none;
  }

  .totalbooks {
    display: none !important;
  }

  .totalBox {
    display: none !important;
  }
}
